# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/nodeenv

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
./package-lock.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

#System Files
.DS_Store
Thumbs.db
/aws-credentials.js
/src/CloudWatch Management Console.html
/src/CloudWatch Management Console_files/
!/aws-credentials.js
.awspublish*
/yarn-error.log
/coverage
